/*linhtinh*/
.home{ background: #f7f7f7 none repeat scroll 0 0 }
h1, h2, h3, h4, h5, h6 { color: unset;display: unset;font-family: unset;font-size: unset;font-weight: unset;margin: 0;padding: 0; }
a:hover, a:focus, a:active{ text-decoration: none; color: rgb(171, 63, 61); outline: none; transition: all 500ms ease 0s; }
input, select, textarea { outline: none; }
ul, li{ list-style: outside none none; padding: 0;margin: 0; }
.fw{ float: left; width: 100%; }
#back-to-top {
    background: rgba(0, 0, 0, 0) url("../../assets/images/icon/backtotop.png") no-repeat scroll 0 0;
    bottom: 15px;
    cursor: pointer;
    display: none;
    padding: 35px 20px;
    position: fixed;
    right: 15px;
    z-index: 99;
}
img { max-width: 100%; }
label { color: #000000; font-size: 14px; }

//fix sub slide single product
.transform3dslide .slick-list .slick-track {
    transform: translate(0px) !important;
    -moz-transform: translate(0px) !important;
    -webkit-transform: translate(0px) !important;
    -o-transform: translate(0px) !important;
    -ms-transform: translate(0px) !important;    
}


/*box-shadow product*/
.shadow {
    position: relative;

    &:after {
        background: transparent url("../../assets/images/icon/shadow.png") no-repeat scroll 0 0 / cover ;
        bottom: -10px;
        content: "";
        height: 10px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 9;
    }
}


/*ads*/
.ads-home img {
    margin-top: 30px;
    width: 100%;
}


/*box comment*/
.fb_iframe_widget {
    width: 100%;

    span {
        width: 100% !important;
    }

    iframe {
        width: 100% !important;
    }
}




