footer {
    margin-top: 30px;

    .footer-top {
        background: $black2 none repeat scroll 0 0;
        color: $black4;
        font-size: 12px;
        line-height: 1.6;
        padding: 15px 0;

        a {
            color: $black4;
        }

        img {
            margin-top: 5px;
        }

        .widget-title {
            color: $green;
            display: block;
            font-size: 18px;
            margin-bottom: 5px;
            text-decoration: underline;
        }
    }

    .footer-bottom {
        background: $black2 none repeat scroll 0 0;
        color: $black4;
        font-size: 12px;
        padding: 15px 0 20px;

        a {
            color: $black4;
        }

        ul {
            li {
                a {
                    float: left;
                    margin-top: 10px;
                    padding: 0 5px;
                    position: relative;

                    &::after {
                        background: $black4 none repeat scroll 0 0;
                        content: "";
                        height: 65%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        
                        width: 1px;
                        @include transform( translateY(-50%) );
                    }
                }

                &:first-child a {
                    padding-left: 0;
                }

                &:last-child a::after {
                    display: none;
                }
            }
        }

        .widget_social {
            text-align: right;

            a {
                .fa {
                    
                    color: #ffffff;
                    font-size: 20px;
                    line-height: 30px;
                    margin-left: 5px;
                    text-align: center;
                    width: 30px;
                    @include border-radius( 50% );
                }

                :first-child .fa {
                    margin-left: 0;
                }

                .fa-facebook {
                    background: #4e71a8 none repeat scroll 0 0;
                }

                .fa-twitter {
                    background: #1cb7eb none repeat scroll 0 0;
                }

                .fa-google-plus {
                    background: #e3411f none repeat scroll 0 0;
                }

                .fa-youtube-play {
                    background: #ca3737 none repeat scroll 0 0;
                }
            }
        }
    }
}


