
.title-detail {
    border-bottom: 2px solid $orange;
    color: $green;
    font-size: 24px;
    margin-bottom: 15px;
}


.sidebar .current-menu-item a {
    color: $orange;
}





.woocommerce-products-header .page-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0 20px;
}
.woocommerce-products-header .term-description {
    font-size: 13px;
}
