
.sidebar-content {
	.title-sidebar {
	    color: $green;
	    font-size: 18px;
	    margin: 25px 0 5px;
	}

	a {
	    color: $black3;
	    display: block;
	    padding: 2px 0;

	    &:hover {
		    color: $orange;
		}
	}
}

